@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/*Color variables*/
:root {
  --very-dark-grey: #18171f;
  --dark-grey: #24232c;
  --grey: #817d92;
  --light-grey: #e6e5ea;
  --green: #a4ffaf;
  --red: #f64a4a;
  --orange: #fb7c58;
  --yellow: #f8cd65;
}
body {
  background-color: var(--very-dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.heading--large {
  font-size: 3.2rem;
  line-height: 4.3rem;
  color: var(--light-grey);
}
.heading--medium {
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: center;
}

/*Utility class*/

.mg-bottom-sm {
  margin-bottom: 3.2rem;
}
.mg-bottom-md {
  margin-bottom: 4.2rem;
}
/*********************************/
/*APP*/
/*********************************/
.app-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 54rem;
  color: var(--grey);
}

/*GENERATED PASSWORD*/
.generated-password {
  background-color: var(--dark-grey);
  padding: 1.8rem 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password.empty {
  color: rgb(230, 229, 234, 0.5);
}
.copied {
  margin-left: auto;
  margin-right: 1.6rem;
  color: var(--green);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.copied.show {
  visibility: visible;
  opacity: 1;
}

.btn-copy {
  cursor: pointer;
  background-color: inherit;
  border: none;
  transition: 0.15s ease-in-out;
}
.btn-copy:active {
  transform: scale(0.98) translateY(2px);
}

/*GENERATE PASSWORD*/
.generate {
  background-color: var(--dark-grey);
  padding: 2.4rem 3.2rem;
}

.length > div {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.length__heading {
  color: var(--light-grey);
}
.length__value {
  color: var(--green);
  font-size: 3.2rem;
}

.length__input {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100%;
  height: 8px;
  background-color: var(--very-dark-grey);
  cursor: pointer;
}

.length__input:focus {
  outline: none;
}

.length__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 3rem;
  width: 3rem;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: var(--light-grey);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.length__input:active::-webkit-slider-thumb {
  border-color: var(--green);
  background-color: var(--very-dark-grey);
}

.length__input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 3rem;
  width: 3rem;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: var(--light-grey);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.length__input:active::-moz-range-thumb {
  border-color: var(--green);
  background-color: var(--very-dark-grey);
}

/*ICLUDE IN PASSWORD */
.include {
  color: var(--light-grey);
  margin-top: 4.2rem;
}
.include > div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.include > div:not(:last-child) {
  margin-bottom: 1.9rem;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  border: 2px solid var(--light-grey);
  height: 2rem;
  width: 2rem;
  background-color: var(--dark-grey);
  border-radius: 0;
  cursor: pointer;
  transition: all 100ms ease-in;
}
input[type='checkbox']:checked {
  -webkit-appearance: none;
  border-color: var(--green);
  background-color: var(--green);
  background-image: url(assets/images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
input[type='checkbox']:hover,
input[type='checkbox']:active {
  border-color: var(--green);
}

/*PASSWORD STRENGH*/
.strength {
  background-color: var(--very-dark-grey);
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  padding: 2.4rem 3.2rem;
}

.strength__title {
  color: var(--grey);
  text-transform: uppercase;
  margin-right: auto;
}
.strength__level {
  color: var(--light-grey);
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-right: 1.5rem;
}
.strength__rating-box {
  display: flex;
  gap: 1rem;
}

.strength__rating-box .rating-box__color {
  height: 2.8rem;
  width: 1rem;
  border: 2px solid var(--light-grey);
}

.strength__rating-box.strong > * {
  color: var(--green);
  background-color: currentColor;
  border-color: currentColor;
}
.strength__rating-box.medium .rating-box__color:nth-child(-n + 3) {
  color: var(--yellow);
  background-color: currentColor;
  border-color: currentColor;
}
.strength__rating-box.week .rating-box__color:nth-child(-n + 2) {
  color: var(--orange);
  background-color: currentColor;
  border-color: currentColor;
}
.strength__rating-box.too-week .rating-box__color:nth-child(-n + 1) {
  color: var(--red);
  background-color: currentColor;
  border-color: currentColor;
}

/*BTN GENERATE */
.btn-generate {
  color: var(--very-dark-grey);
  background-color: var(--green);
  border: 2px solid transparent;
  width: 100%;
  padding: 2rem;
  text-transform: uppercase;
  font-size: inherit;
  font-weight: inherit;
  margin-top: 3.2rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}
.arrow {
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  background-color: currentColor;
  margin-left: 2.4rem;
  -webkit-mask-image: url(assets/images/icon-arrow-right.svg);
  mask-image: url(assets/images/icon-arrow-right.svg);
}

.btn-generate:hover,
.btn-generate:active {
  color: var(--green);
  background-color: var(--dark-grey);
  border-color: currentColor;
}
.btn-generate:active {
  transform: scale(0.98) translateY(2px);
}
